{{extend 'layout.html'}}
<style>
	#evolvedus-header{
		margin-left:6%;
		margin-right:6%;
	}
	#evolvedus-header-container{
		background-color:rgb(225,225,225);
		border:2px solid rgb(190,190,190);
	}
</style>
<div id="evolvedus-header-container">
	<div id="evolvedus-header">
		<p class="lead" style="text-align:center">change the world~~~~!!!!</p>
		<p class="lead" style="text-align:center">this is an announcement</p>
		<p class="lead" style="text-align:center">this is content</p>
		<p class="lead" style="text-align:center">this is content</p>
		<p class="lead" style="text-align:center">this is content</p>
		<p class="lead" style="text-align:center"><a>category1</a></p>
		<p class="lead" style="text-align:center"><a>category2</a></p>
		<p class="lead" style="text-align:center"><a>category3</a></p>
		<p class="lead" style="text-align:center"><a>category4</a></p>

		<!--<p class="lead"><a href="/about/">about</a></p>
		<p class="lead"><a href="/mission/">mission</a></p>
		<p class="lead"><a href="/terms/">terms</a></p>
		<p class="lead"><a href="/transparency/">transparency</a></p>
		<p class="lead"><a href="/posts/">posts</a></p>
		<p class="lead"><a href="/stats/">stats</a></p>-->
	</div>
</div>
<br>
<br>
	{{for post in post_list:}}
	<div class="centered-width">
		<h1><a href="/post/{{=post['url']}}">{{=post['title']}}</a></h1><hr>
		{{=XML(post['content'])}}<hr><br><br>
	</div>
	{{pass}}
	<br>
	<br>
	<br>
	<br>
	<br>
